{% set section    = include_dict.section %}
{% set text_color = 'text-white' if section.has_background and section.background_color == 'primary' %}

<section class="pb-5">
  <div class="container">

    <div {{ classNames('py-5 rounded', {
      'bg-primary text-white' : section.has_background and section.background_color == 'primary',
      'bg-light'              : section.has_background and section.background_color == 'light'
    }) }}>
      <div class="text-center py-3">
        {% if section.title %}
          <h2 class="mb-3 fw-bold {{ text_color }}">{{ section.title }}</h2>
        {% endif %}
        {% if section.subtitle %}
          <div class="mb-3 {{ text_color }}">
            <p>{{ section.subtitle }}</p>
          </div>
        {% endif %}
        {% if section.actions %}
          <div>
            {% set include_dict = {'actions': section.actions} %}
            {% include "section_actions.html" %}
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</section>